firstmaven/src/main/mule/firstmaven.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="90b4f619-f920-43d1-b20c-f48934c65b02" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstmavenFlow" doc:id="6cb044fb-d94d-48e1-a4a2-1d2411263499" >
		<http:listener doc:name="Listener" doc:id="fc94b350-322d-403c-97d4-b630d25520ac" config-ref="HTTP_Listener_config" path="/Git"/>
		<set-payload value='#["Mule integration software"]' doc:name="Set Payload" doc:id="5d2fa589-d22b-4552-9d83-23647ca7057a" />
	</flow>
</mule>
